smb-demo/src/main/mule/smb-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:smb="http://www.mulesoft.org/schema/mule/smb"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smb http://www.mulesoft.org/schema/mule/smb/current/mule-smb.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<smb:config name="SMB_Config" doc:name="SMB Config" doc:id="8fd4dc7e-6abf-48f3-8400-a785457ffc34" >
		<smb:connection host="localhost" domain="WORKGROUP" username="mulesoft" password="mulesoft" shareRoot="/shared" logLevel="INFO"/>
	</smb:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="da2a3a47-62b1-4f0a-92a6-8a372d53e2b7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="smb-demoFlow" doc:id="bc7447c6-647b-4597-8612-4b89cd50a5c7" >
		<http:listener doc:name="Listener" doc:id="749410d1-f458-4ae9-bb12-e7a8c316a351" path="/write" config-ref="HTTP_Listener_config"/>
		<smb:logger doc:name="Logger" doc:id="303a6722-f89a-430f-bd86-0df74a30ed7b" config-ref="SMB_Config" path="/logs/output.log" message='#["Request received: " ++ write(payload, "application/json", {"indent": false})]'/>
		<smb:logger doc:name="Logger" doc:id="0b15f4e8-cab2-43b0-9467-c7e9275a8c63" config-ref="SMB_Config" logLevel="DEBUG" path="/logs/output.log" message="Writing payload to file..."/>
		<smb:write doc:name="Write" doc:id="2f0e9331-8c64-45b4-9577-350fef9486b6" config-ref="SMB_Config" path='#["/input/request-" ++ correlationId ++ ".txt"]'/>
		<smb:logger doc:name="Logger" doc:id="5d0e3d7d-28a3-4d7f-a763-2e4ab5b899e4" config-ref="SMB_Config" path="/logs/output.log" message="Payload written to file"/>
		<smb:logger doc:name="Logger" doc:id="86b21040-d9a4-44f7-87bf-332ba350bc36" config-ref="SMB_Config" path="/logs/output.log" message="Finished processing."/>
		<ee:transform doc:name="Transform Message" doc:id="a00cd3b5-8128-4ad6-9530-ed5a2c7464dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: "OK"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="53927ffd-398e-492e-aabd-b165ee0d13e5" >
				<smb:logger doc:name="Logger" doc:id="9420a12f-7d5c-46ca-9e83-36d33eb4ea3e" config-ref="SMB_Config" path="/logs/output.log" message='#["Could not write payload to file: " ++ error.description as String]' logLevel="ERROR"/>
				<ee:transform doc:name="Transform Message" doc:id="ecf87d45-bee8-4393-90a8-bc725e874323" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: "NOK",
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="smb-demoFlow1" doc:id="cbe74b42-f09a-4f75-ae8d-2e9bde742ae5" >
		<smb:listener doc:name="On New or Updated File" doc:id="ae1b7394-b581-4ca3-9eab-83942f749d01" config-ref="SMB_Config" directory="/input">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</smb:listener>
		<smb:logger doc:name="Logger" doc:id="25a28bbe-bb92-447c-9aba-72a3dc2b5d9a" config-ref="SMB_Config" path="/logs/output.log" message='#["Processing new or updated file: " ++ write(attributes,"application/json", {"indent": false})]'/>
		<smb:logger doc:name="Logger" doc:id="d6a78190-6bd3-4f94-b47d-4cb56cda78e7" config-ref="SMB_Config" path="/logs/output.log" message='#["File content: " ++ payload]'/>
		<smb:logger doc:name="Logger" doc:id="5652dc6f-82de-4381-b772-25575356b17f" config-ref="SMB_Config" path="/logs/output.log" message="#[&quot;Moving file '&quot; ++ attributes.absolutePath ++ &quot;' to pending directory...&quot;]"/>
		<smb:move doc:name="Move" doc:id="b80b485a-07e0-4aa4-b00d-89f3f6729048" config-ref="SMB_Config" sourcePath="#[attributes.absolutePath]" targetPath='#["/pending"]'/>
		<smb:logger doc:name="Logger" doc:id="bec87d72-c6b6-4e37-837a-bbcce1aa00ad" config-ref="SMB_Config" path="/logs/output.log" message="File moved"/>
	</flow>
	<flow name="smb-demoFlow2" doc:id="6d45b34b-abb5-49bb-ab0e-8c40404103d0" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="a780820e-a093-4420-8c8b-b823ae7b7fd4" >
			<scheduling-strategy >
				<fixed-frequency frequency="20000"/>
			</scheduling-strategy>
		</scheduler>
		<smb:logger doc:name="Logger" doc:id="7fc5e152-dd61-49e7-b2e1-c655834e877d" config-ref="SMB_Config" logLevel="DEBUG" path="/logs/output.log" message="Scheduler started..."/>
		<try doc:name="Try" doc:id="ff5c4a98-888f-4114-a0e8-e99e133bb151" >
			<smb:create-directory doc:name="Create directory" doc:id="9771d963-dda9-4f21-81f0-6f27739c8244" config-ref="SMB_Config" directoryPath="/pending" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="412ef675-2ddc-4601-abe2-eaeeb21baf3f" type="SMB:FILE_ALREADY_EXISTS">
					<smb:logger doc:name="Logger" doc:id="d9e27ac9-992b-436f-a24b-0717537b462b" config-ref="SMB_Config" logLevel="DEBUG" path="/logs/output.log" message="Directory '/pending' already exists."/>
				</on-error-continue>
			</error-handler>
		</try>
		<smb:list doc:name="List" doc:id="02880385-72e9-4c3c-9610-8569e0aca606" config-ref="SMB_Config" directoryPath="/pending" />
		<foreach doc:name="For Each" doc:id="9590e984-21f8-4d49-ba40-f15ee2562b09" collection="#[if (isEmpty(payload.attributes)) [] else payload.attributes]">
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="b7da3691-44fd-4e50-8b27-a3c8d61557c5" variableName="fileAttributes"/>
			<smb:logger doc:name="Logger" doc:id="5a057819-0504-4d5b-950a-fb15f89eeaba" config-ref="SMB_Config" path="/logs/output.log" message='#["Processing pending file " ++ vars.fileAttributes.absolutePath]'/>
			<smb:read doc:name="Read" doc:id="b62c3a33-1f6f-4b49-83ca-f9945c6e50a4" config-ref="SMB_Config" path="#[vars.fileAttributes.absolutePath]"/>
			<smb:logger doc:name="Logger" doc:id="31dc64cf-45d1-402f-a70e-f34d9651d609" config-ref="SMB_Config" path="/logs/output.log" message='#["File processed."]'/>
			<smb:move doc:name="Move" doc:id="8c95ddc3-531c-4152-a4ff-058356ee427f" config-ref="SMB_Config" sourcePath="#[vars.fileAttributes.absolutePath]" targetPath='#["/processed"]'/>
		</foreach>
	</flow>
</mule>
