src/test/munit/file-listener-test-cases/listen-filtering-new-files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:smb="http://www.mulesoft.org/schema/mule/smb"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/smb http://www.mulesoft.org/schema/mule/smb/current/mule-smb.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <munit:config name="listen-filtering-new-files.xml"/>

    <munit:dynamic-port propertyName="smb.server.port"/>

    <munit:before-suite name="listen-filtering-new-files-startListenerMatcherTestServer">
        <flow-ref name="delete-all-files" />
    </munit:before-suite>

    <munit:before-test name="listen-filtering-new-files-create-file-for-listener">
        <flow-ref name="write-file"/>
        <flow-ref name="reset-file-listed"/>
    </munit:before-test>

    <munit:test name="listenFilteringNewFiles" description="Newly added files are filtered by the matcher">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="listen-filtering-updated-recently-listenFilteringNewFiles"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <!--Wait for a polling cycle to avoid race conditions-->
            <munit-tools:sleep time="600"/>
            <flow-ref name="check-no-file-is-listened"/>
        </munit:execution>
    </munit:test>

    <flow name="listen-filtering-updated-recently-listenFilteringNewFiles">
        <smb:smb-directory-listener config-ref="config" directory=".">
            <scheduling-strategy>
                <fixed-frequency frequency="200"/>
            </scheduling-strategy>
            <smb:matcher notUpdatedInTheLast="4" timeUnit="SECONDS"/>
        </smb:smb-directory-listener>
        <munit-tools:store key="isFileBeingListed">
            <munit-tools:value>#[true]</munit-tools:value>
        </munit-tools:store>
    </flow>

</mule>