src/test/resources/smb-create-directory-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:smb="http://www.mulesoft.org/schema/mule/smb"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/smb http://www.mulesoft.org/schema/mule/smb/current/mule-smb.xsd">

    <import file="smb-read-config.xml"/>

    <flow name="createDirectory">
        <smb:create-directory config-ref="config" directoryPath="#[vars.directory]"/>
    </flow>

</mule>
