src/test/resources/smb-directory-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:smb="http://www.mulesoft.org/schema/mule/smb"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/smb http://www.mulesoft.org/schema/mule/smb/current/mule-smb.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <import file="smb-connection.xml"/>

    <smb:matcher name="matcher" filenamePattern="matchme.txt"/>

    <flow name="listenWithoutMatcher">
        <smb:smb-directory-listener config-ref="config" directory="matcherless">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="listenNonRecursive" initialState="stopped">
        <smb:smb-directory-listener config-ref="config" directory="matcherless" recursive="false">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="redundantListener1">
        <smb:smb-directory-listener config-ref="config" directory="shared" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <flow-ref name="onSharedFolderFile"/>
    </flow>

    <flow name="redundantListener2">
        <smb:smb-directory-listener config-ref="config" directory="shared" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <flow-ref name="onSharedFolderFile"/>
    </flow>

    <flow name="listenTxtOnly">
        <smb:smb-directory-listener config-ref="config" directory="withMatcher" matcher="matcher" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <set-payload value="Dr. Manhattan"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveTo" initialState="stopped">
        <smb:smb-directory-listener config-ref="config" directory="matcherless" moveToDirectory="#[vars.moveTo]">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <set-variable variableName="moveTo" value="shared"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveToAndAutoDelete" initialState="stopped">
        <smb:smb-directory-listener config-ref="config" directory="matcherless" moveToDirectory="#[vars.moveTo]" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <set-variable variableName="moveTo" value="shared"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveToWithRename" initialState="stopped">
        <smb:smb-directory-listener config-ref="config" directory="matcherless" moveToDirectory="#[vars.moveTo]" renameTo="#[vars.rename]">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <set-variable variableName="moveTo" value="shared"/>
        <set-variable variableName="rename" value="renamed.txt"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="modifiedWatermark" initialState="stopped">
        <smb:smb-directory-listener config-ref="config" directory="matcherless" autoDelete="false" watermarkEnabled="true">
            <scheduling-strategy>
                <fixed-frequency frequency="3000" />
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <flow-ref name="onEvent"/>
    </flow>

    <sub-flow name="onEvent">
        <object-to-string-transformer/>
        <test:processor class="com.mulesoft.connector.smb.SmbDirectorySourceFunctionalTestCase$TestProcessor"/>
    </sub-flow>

    <flow name="fileBeingWritten" initialState="stopped">
        <smb:smb-directory-listener config-ref="config" directory="matcherless" autoDelete="false" watermarkEnabled="false"
                       timeBetweenSizeCheck="2000">
            <scheduling-strategy>
                <fixed-frequency frequency="3000"/>
            </scheduling-strategy>
        </smb:smb-directory-listener>
        <flow-ref name="onEvent"/>
    </flow>

    <sub-flow name="onSharedFolderFile">
        <test:processor waitTime="1000"/>
        <flow-ref name="onEvent"/>
    </sub-flow>
</mule>
