src/test/munit/configurations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:smb="http://www.mulesoft.org/schema/mule/smb"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/smb http://www.mulesoft.org/schema/mule/smb/current/mule-smb.xsd">

    <smb:config name="config">
        <smb:connection host="localhost" domain="WORKGROUP" username="mulesoft" password="mulesoft" shareRoot="share">
            <pooling-profile exhaustedAction="WHEN_EXHAUSTED_WAIT" maxActive="7" maxIdle="3" maxWait="5000"/>
        </smb:connection>
    </smb:config>

    <smb:config name="config-invalid-port">
        <smb:connection host="localhost" domain="WORKGROUP" username="mulesoft" password="mulesoft" shareRoot="share" port="446">
            <pooling-profile exhaustedAction="WHEN_EXHAUSTED_WAIT" maxActive="7" maxIdle="3" maxWait="5000"/>
        </smb:connection>
    </smb:config>


    <smb:config name="config-with-reconnection">
        <smb:connection host="localhost" domain="WORKGROUP" username="mulesoft" password="mulesoft" shareRoot="share">
            <reconnection >
                <reconnect count="20" frequency="1000"/>
            </reconnection>
            <pooling-profile exhaustedAction="WHEN_EXHAUSTED_WAIT" maxActive="7" maxIdle="3" maxWait="5000"/>
        </smb:connection>
    </smb:config>

    <smb:config name="config-without-working-dir">
        <smb:connection host="localhost" domain="WORKGROUP" username="mulesoft" password="mulesoft" shareRoot="share">
            <pooling-profile exhaustedAction="WHEN_EXHAUSTED_WAIT" maxActive="7" maxIdle="3" maxWait="5000"/>
        </smb:connection>
    </smb:config>
    
    <smb:config name="SMB_Config">
        <smb:connection host="localhost" domain="WORKGROUP" username="mulesoft" password="mulesoft" shareRoot="share"/>
    </smb:config>

    <flow name="wait-2-seconds">
        <logger level="ERROR" message="Waiting for 2 seconds"/>
        <munit-tools:sleep time="2000"/>
    </flow>

    <flow name="modify-file">
        <set-payload value="Content to append"/>
        <smb:write config-ref="config" path="random.txt" mode="APPEND"/>
    </flow>

    <flow name="write-file">
        <set-payload value="File Content"/>
        <smb:write config-ref="config" path="random.txt"/>
    </flow>

    <flow name="delete-all-files">
        <smb:list config-ref="config" directoryPath="/" recursive="true"/>
        <foreach collection="#[payload.attributes default []]">
            <smb:delete config-ref="config" path="#[payload.path]" failIfNotExists="false" />
        </foreach>
    </flow>

    <smb:config name="config-invalid-share-root">
        <smb:connection host="localhost" domain="WORKGROUP" username="mulesoft" password="mulesoft" shareRoot="invalid">
            <pooling-profile exhaustedAction="WHEN_EXHAUSTED_WAIT" maxActive="7" maxIdle="3" maxWait="5000"/>
        </smb:connection>
    </smb:config>

</mule>
